.nav-bar-container{
  background-color: #0ea5c6;
}

.nav-bar-wrapper{
  margin: 0 15%;
}

.header-logo-container{
  display: inline-block;
  padding: 5px 0;
}

.links-container{
  float: right;
  padding-top: 20px;
}

.nav-bar-unordered-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: white;
}

.nav-bar-unordered-list-item{
  list-style-type: none;
  margin: 0;
  padding: 0 10px;
  font-weight: 800;
  text-decoration: none;
  display: inline-block;
}

.nav-bar-unordered-list-item:hover{
  text-decoration: underline;
  color: #a0edf7;
}

.hover-hand{
  cursor: pointer;
}

.logo-image{
  height: 50px;
}